:global .ant-card {
  border-radius: 0;
  margin-bottom: 24px;
}
:global .ant-card:hover {
  overflow: hidden;
}
:global .ant-table .ant-table-tbody > tr > td {
  text-align: left;
}
:global .ant-table .ant-table-thead > tr > th {
  text-align: left;
}
.spin :global .ant-spin-container {
  height: 100vh;
}
.weather:hover {
  box-shadow: 4px 4px 40px rgba(143, 201, 251, 0.6);
}
.quote:hover {
  box-shadow: 4px 4px 40px rgba(246, 152, 153, 0.6);
}
.cardbox {
  padding: 0 !important;
  margin-left: 12px;
  margin-right: 12px;
}
.right {
  float: right;
}
